/* ====================================================================================================================
 * FONTS
 * ====================================================================================================================*/

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular.eot") format("eot");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"), url("../fonts/OpenSansBold.eot") format("eot");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.eot") format("eot");
}